/* stylelint-disable no-descending-specificity */
.typography {
  font-family: Arial, sans-serif;

  margin: 0;
  padding: 0;
}

.typography.title-1 {
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  line-height: 60px;
}

.typography.title-2 {
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  line-height: 42px;
}

.typography.title-3 {
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  line-height: 36px;
}

.typography.title-4 {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
}

.typography.body {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

.typography.body-2 {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;

  color: var(--Typography-Disabled, #707070);
}

.typography.body-3 {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;

  color: var(--Typography-Secondary, #464646);
}

.typography.label-2,
.typography.caption {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;

  color: var(--Typography-Tertiary, #525252);
}

.typography.label-3 {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

.typography.weight-regular {
  font-weight: 400;
}

.typography.weight-bold {
  font-weight: 700;
}

.typography.color-primary {
  color: var(--Typography-Primary, #252525);
}

.typography.color-secondary {
  color: var(--Typography-Secondary, #757575);
}

.typography.color-secondary-2 {
  color: var(--Typography-Secondary, #464646);
}

.typography.color-tertiary {
  color: var(--Typography-Tertiary, #525252);
}

.typography.color-inherit {
  color: inherit;
}

.typography.color-initial {
  color: initial;
}

.typography.color-currentColor {
  color: currentcolor;
}

.typography.wrap-nowrap {
  white-space: nowrap;
}

.typography.wrap-ellipsis {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.typography.wrap-break-all {
  overflow: hidden;

  white-space: pre-wrap;
  word-break: break-all;
}

.typography.text-align-center {
  text-align: center;
}

.typography.text-align-left {
  text-align: left;
}

.typography.text-align-right {
  text-align: right;
}

.typography[data-text-transform="capitalize-first-letter"]::first-letter {
  text-transform: capitalize;
}

.typography[data-text-transform="uppercase"] {
  text-transform: uppercase;
}
