.header {
  font-size: var(--typography-S-fontSize);
  line-height: var(--typography-S-lineHeight);

  display: flex;
  flex-direction: row;
  align-items: center;

  height: calc(6 * var(--gridSize));

  margin-bottom: var(--gridSize);
}

.rules {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rule {
  font-size: var(--typography-S-fontSize);
  line-height: var(--typography-S-lineHeight);

  display: flex;
  flex-direction: row;
  align-items: center;

  flex: 0 0 auto;

  width: calc(30 * var(--gridSize));
  height: calc(4 * var(--gridSize));
  margin-bottom: var(--gridSize);
  padding-left: var(--gridSize);
}

.ruleText {
  margin-left: var(--gridSize);
}

.error {
  border-radius: calc(0.5 * var(--gridSize));

  background-color: var(--color-layout-error-background);
}

.success {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: calc(6 * var(--gridSize));
  padding-left: calc(2 * var(--gridSize));

  border-radius: calc(0.5 * var(--gridSize));

  background-color: var(--color-layout-success-background);
}

.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: calc(2.5 * var(--gridSize));
}

.errorIcon {
  flex-shrink: 0;

  fill: var(--color-icon-error);
}

.checkMarkIcon {
  flex-shrink: 0;

  fill: var(--color-icon-success);
}

.dotIcon {
  flex-shrink: 0;

  fill: var(--color-icon-secondary);

  width: auto;
  height: var(--gridSize);
}

.speechMessage {
  position: absolute;
  top: auto;
  left: -10000px;

  overflow: hidden;

  width: 1px;
  height: 1px;
}
